
<section class="show_page">
  <h2 class="title_header"><%= @book.title %><h2>
  <h3 class="author_header"><%= @book.author %><h3>
  <h4 class="description_text"><%= @book.description %></h4>
</section>
<ul>
  <li>
    <%= link_to "Edit", edit_book_path %>
  </li>
  <li>
    <%= link_to "Delete", book_path(@book.id), method: :delete %>
  </li>
</ul>

<!--The default method is 'GET' .  For anything else, you have to specify. -->
